<link rel="stylesheet" href="templates/style.css">
<!-- The styles below are for legacy use only and will be replaced by tailwind-->
<style>
    body {
    margin: 0px;
}


.header-grid {
    display: grid;
    grid-template-areas: 
    ". . header-logo . ."
    ". navigation navigation navigation . ";

    background-image: url(/img/banner.webp);
}

.header-logo {
    grid-area: header-logo;
    place-self: center;
}

.header-navigation {
    grid-area: navigation;
    place-self: center;
    width: 100%;
}


.header-navigation nav{
    text-align: center;
}

.header-navigation li {
    display: inline;
    
    font-size: 2rem;
    padding: 5%;
}


</style>